@media (max-width: 1200px) { 

main{
    top: 0;
    overflow: hidden;
}



/*////////// BANNIERE //////////*/

#banniere {
    background-image: none;
    height: 100%;
}

/*////////// BIENVENUE //////////*/
#bienvenue{
    padding:10%;
}

#bienvenue>div>img{
    width: 100%;
}
#textBienvenue{
    width: 100%;
}

#textAuto{
    width: 100%;
}

#textAuto>div>img{
    width: 100%;
}

#locationAchat{
    padding: 0;
}
#venteEtLocation {
    padding: 5% 0; 
    width: 100%;
}
#venteEtLocation>div {
   
    margin: 0;
}

#nousChoisir {
    padding: 10% 0;
}

#conteneurChoix {
    padding: 8% 14% 8% 8%;
}

#btnsubmit{
    width: 70%;
    margin-top: 10%;
}

/*////////// PAGE DETAILS VEHICULE //////////*/

#listeOnglet{
    height: 100%;
}

#listeOnglet>button{
    padding: 3% 0;
}

#footerClubAuto{
    width: 100%;
}

#footerOuverture{
    width: 100%;
}

#newsletter{
    width: 100%;
}

#footerRS{
    width: 100%;
}
}