@media (max-width: 1200px) { 

main{
    top: 0;
    overflow: hidden;
}

#enTete{
    padding-top: 80px;
    justify-content: flex-start !important;
}

nav{
    display: none;
}

#menuCollapse{
    background-color: #ffffff;
    position: fixed;
    padding: 60px 0 10px;
    top: 0;
    width: 100%;
    font-weight: 600;
    z-index: 1;


}


#menuCollapse>ul>li>a{
    display: flex;
    justify-content: center;
}

#btnNav{
    display: block;
    position: fixed;
    top: 10px;
    right: 5px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-style: none;
    background-image: url(/media/list.svg) ;
    background-repeat: no-repeat;
    background-size: cover ;
    z-index: 2;
}

/*////////// BANNIERE //////////*/

#banniere {
    background-image: none;
    height: 100%;
}

/*////////// BIENVENUE //////////*/
#bienvenue{
    padding:10%;
}

#textBienvenue>h2{
    padding-top: 6%;
}

#bienvenue>div>img{
    width: 100%;
}
#textBienvenue{
    width: 100%;
}

#textAuto{
    width: 100%;
}

#textAuto>div>img{
    width: 100%;
}

#locationAchat{
    padding: 0;
}
#venteEtLocation {
    padding: 5% 0; 
    width: 105%;
}
#venteEtLocation>div {
   
    margin: 0;
}

.vehiculeCard>div>div>h3 {
    width: 100%;
}

.prix {
    width: 40%;
    margin: 4%;
}

#nousChoisir {
    padding: 10% 0;
}

#conteneurChoix {
    padding: 8% 14% 8% 8%;
}

#btnsubmit{
    width: 70%;
    margin-top: 10%;
}

/*////////// PAGE DETAILS VEHICULE //////////*/

#listeOnglet{
    height: 100%;
}

#listeOnglet>button{
    padding: 3% 0;
}

#footerClubAuto{
    width: 100%;
}

#footerOuverture{
    width: 100%;
}

#newsletter{
    width: 100%;
}

#footerRS{
    width: 100%;
}
}