/*HEADER*/

#enTete{
    background-color: #232628;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

#enTete>div>h2{
    color:#CC6119;
}

/* BANNIERE */

#banniereTexte{
    background-color: #232628;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 800;
   
}

#banniereTexte>p:nth-child(2){
    color: #CC6119;
}

/* LOCATION ET ACHAT */

#locationAchat{
    background-image: url(../media/vehicule3.jpg);
}

#location{
    background-color: #FAB637;
}

#achat{
    background-color: #FF4848 ;
}


/*VENTE ET LOCATION*/

#venteEtLocation{
    background-image: url(../media/vehicule3.jpg) ;
    background-size:cover ;
    background-repeat: no-repeat;
}
